{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

	{% if post.get_thumbnail %}
	{% include "hero.twig" %}
	{% endif %}

	<section class="wrapper wrapper--article-content">
		<div class="article-content container">

			<h1 class="h1 hero-title">{{ post.title }}</h1>
			{% include "metas.twig" %}
			<div class="article-content-body">
				{{ post.content }}
			</div>
		</div>
	</section>

	{% if post.comment_status != 'closed' %}
	<section class="wrapper wrapper--comments">
		<div class="container">
			<div class="respond">
				<h3 class="h2">Comments</h3>
				{{ fn('comment_form') }}
			</div>
			<div class="responses">
				{% for cmt in post.get_comments() %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		</div>
	</section>
	{% endif %}

</article>
{% endblock %}
