<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->

<head>
  <meta charset="{{site.charset}}" />

  <title>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>

  <meta name="description" content="{{site.description}}">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{site.theme.link}}/dist/css/style.css" type="text/css" media="screen" />
  <link rel="pingback" href="{{site.pingback_url}}" />

  <!-- FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.link}}/dist/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/dist/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.link}}/dist/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{site.theme.link}}/dist/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="{{site.theme.link}}/dist/img/favicon/safari-pinned-tab.svg" color="#e25d5d">
  <link rel="shortcut icon" href="{{site.theme.link}}/dist/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="{{site.theme.link}}/dist/img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">  

  {{function('wp_head')}}

</head>
