<section class="wrapper wrapper--pre-footer">
  <div class="container">
  </div>
</section>

<section class="wrapper wrapper--footer">
  <div class="container">
    <div class="flexrow flexrow--gutter">
      <div class="flex-sm-6 flex-md-3">
        {{ widgets_footer_1 }}
      </div>
      <div class="flex-sm-6 flex-md-3">
        {{ widgets_footer_2 }}
      </div>
      <div class="flex-sm-6 flex-md-3">
        {{ widgets_footer_3 }}
      </div>
      <div class="flex-sm-6 flex-md-3">
        {{ widgets_footer_4 }}
      </div>
    </div>
  </div>
</section>

<section class="wrapper wrapper--post-footer">
  <div class="container">

    <div class="footer-copyright">
      Copyright {{ site.name }} &copy; {{"now"|date('Y')}} | <a href="/mentions-legales">Mentions légales</a>
    </div>
    <div class="footer-made-by">
      Design et réalisation <a href="https://www.webcd.fr" target="_blank" class="maker-link">Webcd<svg viewBox="0 0 633 156"><use xlink:href="#logo-webcd"></use></svg></a>
    </div>

  </div>
</section>
