<section class="wrapper wrapper--pre-footer">
  <div class="container">
  </div>
</section>

<section class="wrapper wrapper--footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        {{ widgets_footer_1 }}
      </div>
      <div class="col-sm-6 col-lg-3">
        {{ widgets_footer_2 }}
      </div>
      <div class="col-sm-6 col-lg-3">
        {{ widgets_footer_3 }}

        {% if CONFIG.socialLinks %}

          {% include "social-links.twig" %}

        {% endif %}

        {# {% include "newsletter-form.twig" %} #}

      </div>
      <div class="col-sm-6 col-lg-3">
        {{ widgets_footer_4 }}

        {% if CONFIG.contactInfos %}

          {% include "contact-infos.twig" %}

        {% endif %}

      </div>
    </div>
  </div>
</section>

<section class="wrapper wrapper--post-footer">
  <div class="container">

    <div class="footer-copyright">
      <div class="footer-copyright__copyright">Copyright {{ site.name }} &copy; {{"now"|date('Y')}}</div>
      <ul class="footer-copyright__legal-menu">

        {% for item in menu_legal.get_items %}
          <li class="{{item.classes | join(' ')}}">
            <a href="{{item.get_link}}" class="menu-item-link">
              {{item.title}}
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
    <div class="footer-made-by">
      <span>Design et réalisation</span>
      <a href="https://www.webcd.fr" target="_blank" class="maker-link">Webcd<svg viewBox="0 0 633 156"><use xlink:href="#logo-webcd"></use></svg></a>
    </div>

  </div>
</section>
