{% if (item.has_child_class()) %}
  <a href="{{item.get_link}}" class="menu-item-link">
    <span>{{item.title}}</span>
  </a>
  <span class="menu-item-link dropdown-toggle">
    <span class="caret"></span>
  </span>

  <ul class="dropdown-menu">
    {% for item_child in item.get_children %}
      <li class="{{item_child.classes | join(' ')}}">
        <a href="{{item_child.get_link}}" class="menu-item-link">
          <span>{{item_child.title}}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

{% else %}
  <a href="{{item.get_link}}" class="menu-item-link">
    <span>{{item.title}}</span>
  </a>
{% endif %}

