{% if (item.has_child_class()) %}
  <a href="{{item.get_link}}" class="menu-item-link">
    <span>{{item.title}}</span>
  </a>

  <span class="menu-item-link dropdown-toggle" data-dropdown>
    <span class="caret"></span>
  </span>

  <ul class="dropdown-menu">
    {% for item_child in item.get_children %}
      <li class="{{item_child.classes | join(' ')}} {{ (item.has_child_class) ? 'menu-item--dropdown' : null }}">

        {# Recursivity! #}
        {% include 'menu-item.twig' with {'item': item_child} %}

      </li>
    {% endfor %}
  </ul>

{% else %}
  <a href="{{item.get_link}}" class="menu-item-link">
    <span>{{item.title}}</span>
  </a>
{% endif %}

