{% if pagination %}
  <nav class="pagination">
    <ul>

      {% if pagination.prev %}
        <li>
          <a class="prev" href="{{ pagination.prev.link }}" rel="prev">
            <span class="sr-only">Previous page</span>
          </a>
        </li>
      {% endif %}

      {% for page in pagination.pages %}
        <li>
          {% if page.link %}
            <a class="page-numbers" href="{{ page.link }}" rel="nofollow">
              {{ page.title }}
            </a>
          {% else %}
            <span aria-current="page" class="page-numbers current">
              {{ page.title }}
            </span>
          {% endif %}
        </li>
      {% endfor %}

      {% if pagination.next %}
        <li>
          <a class="next" href="{{ pagination.next.link }}" rel="next">
            <span class="sr-only">Next page</span>
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}