{% set menu_account_dropdown = true %}

<li class="menu-item menu-item--my-account
  {{ (menu_account_dropdown and user) ? 'menu-item-has-children menu-item--dropdown' }}
">
  {% if user %}
    <a href="{{ my_account_link }}" class="menu-item-link">
      <span class="my-account-avatar">
        <img src="{{ user.avatar }}" alt="{{ user.name }}'s avatar">
      </span>
      {# <span>{{ fn('_e', 'My Account', 'woothemes') }} </span> #}
      {# <span class="my-account-name">{{ user.name }}</span> #}
      <span class="my-account-name">
        {{ user.first_name }}
        {# {{ user.last_name }} #}
      </span>
    </a>

    {% if menu_account_dropdown %}

      {# TODO #}
    
      <span class="menu-item-link dropdown-toggle" data-dropdown="">
        <span class="caret"></span>
      </span>

      <ul class="dropdown-menu dropdown-menu--right">
        <li class="menu-item">
          <a href="" class="menu-item-link">
            <i class="fa fa-fw fa-user"></i>
            <span>TODO</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-item-link">
            <span>My account</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-item-link">
            <span>Endpoints</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-item-link">
            <span>...go here!</span>
          </a>
        </li>
      </ul>
    
    {% endif %}

  {% else %}
    <a href="{{ my_account_link }}" class="menu-item-link">
      {# <span>{{ fn('_e', 'My Account', 'woothemes') }}</span> #}
      <span>Mon compte</span>
    </a>
  {% endif %}  
</li>


