<span class="woocommerce-Price-amount amount">
  {% if negative %} - {% endif %}       
  <span class="woocommerce-Price-whole">{{ price_whole }}</span>
  <span class="woocommerce-Price-decimal_separator">{{ price_args.decimal_separator }}</span>
  <small class="woocommerce-Price-cents">{{ price_cents }}</small>
  <span class="woocommerce-Price-currencySymbol">{{ price_symbol }}</span>
</span>
{% if tax_label is defined %}  
<small class="woocommerce-Price-taxLabel tax_label">{{ tax_label }}</small>
{% endif %}