{% set rating_star_full = rating|round(0, 'floor') %}
{% set rating_star_half = (rating - rating_star_full) >= 0.5 ? 1 : 0 %}
{% set rating_star_void = 5 - (rating_star_full + rating_star_half) %}

{# {{ rating }} : {{ rating_star_full }} / {{ rating_star_half }} / {{ rating_star_void }} #}

<div class="rating--star">

  <span class="sr-only">Rating: {{ rating }}/5 (from {{ rating_counts }} users)</span>

  {% if rating_star_full > 0 %}
    {% for i in 0..rating_star_full - 1 %}
      <span class="rating-star"><i class="fa fa-fw fa-star"></i></span>
    {% endfor %}
  {% endif %}

  {% if rating_star_half > 0 %}
    {% for i in 0..rating_star_half - 1 %}
      <span class="rating-star"><i class="fa fa-fw fa-star-half-alt"></i></span>
    {% endfor %}
  {% endif %}

  {% if rating_star_void > 0 %}
    {% for i in 0..rating_star_void - 1 %}
      <span class="rating-star"><i class="far fa-fw fa-star"></i></span>
    {% endfor %}
  {% endif %}

  <span class="rating-count"> ({{ rating_counts }} avis)</span>

</div>