<div {{ fn('post_class', ['list-item', 'teaser', 'teaser--product', ( post.product.is_featured() ? 'teaser--featured' : '')] ) }} data-onclick-url="{{ post.link }}">

  {{ fn('timber_set_product', post) }}

  <div class="teaser-content">

    {# Debug #}
    {# {{ fn('ddump', post.product) }} #}

    {# Badges: featured, on-sale #}
    {% include 'partials/woocommerce/badges.twig' %}

    {########################################}
    {# THUMBNAIL #}

    {# TODO #}

    {##
		 # woocommerce_before_shop_loop_item_title hook.
		 #
		 # @hooked woocommerce_show_product_loop_sale_flash - 10
		 # @hooked woocommerce_template_loop_product_thumbnail - 10
		 #}
    {% do 
      action('woocommerce_before_shop_loop_item_title') %}

    {########################################}
    {# TERMS #}

    <div class="terms">
      {% for category in post.terms('product_cat') %}
        <a class="category-link btn btn-primary btn-xs ripple" href="{{ category.link }}">{{ category.title }}</a>
      {% endfor %}
      {% for tag in post.terms('product_tag') %}
        <a class="tag-link btn btn-xs ripple" href="{{ tag.link }}">#{{ tag.title }}</a>
      {% endfor %}
    </div>

    {########################################}
    {# TITLE #}

    <h3 class="teaser-title">
      <a class="teaser-link" href="{{ post.link }}">{{ post.title }}</a>
    </h3>

    {##
		 # woocommerce_shop_loop_item_title hook.
		 #
		 # REMOVED @hooked woocommerce_template_loop_product_title - 10
		 #}
    {% do 
      action('woocommerce_shop_loop_item_title') %}

    {########################################}
		{# DESCRIPTION #}
		
		<div class="teaser-description">
			{{ post.product.short_description }}
		</div>

		<div class="flex-filler"></div>

    {########################################}
    {# METAS #}

    {% include 'woocommerce/metas.twig' %}

    {# STOCK #}
    <div class="teaser-product-stock">
      {% include 'woocommerce/stock.twig' %}
    </div>

    {########################################}
    {# PRICE #}

    <div class="teaser-product-price">
      {% include "partials/woocommerce/price-product.twig" %}
    </div>

    {##
		 # woocommerce_after_shop_loop_item_title hook.
		 #
		 # REMOVED @hooked woocommerce_template_loop_rating - 5
		 # REMOVED @hooked woocommerce_template_loop_price - 10
		 #}
    {% do 
      action('woocommerce_after_shop_loop_item_title') %}

    {########################################}
    {# LINK CLOSE ?! #}

    {# TODO #}

    {########################################}
    {# ADD TO CART #}

    {# TODO #}

    {##
		 # woocommerce_after_shop_loop_item hook.
		 #
		 # The second parameter is currently needed to prevent an issue with Timber action calls.
		 #
		 # @hooked woocommerce_template_loop_product_link_close - 5
		 # @hooked woocommerce_template_loop_add_to_cart - 10
		 #}
    {% do 
      action('woocommerce_after_shop_loop_item', []) %}

  </div>
</div>
