<!doctype html>

<!-- HEAD -->
{% block head %}
  {% include 'header/head.twig' %}
{% endblock %}

<!-- BODY -->
<body class="{{ body_class }} {{ body_class_config }}" data-config="{{ config_JSON }}">

  <!-- SITE-WRAPPER -->
  <div class="site-wrapper">

    <!-- HEADER -->
    <header class="site-header">
      {% block header %}
        {% include 'header/header.twig' %}
      {% endblock %}
    </header>

    <!-- SITE-CONTENT -->
    <section class="site-content">

      {# Ugly dump, use with extreme shame #}
      {# {% for item in cart.cart_contents %} #}
        {# {{ fn('ddump', CONFIG) }} #}
      {# {% endfor %} #}

      <!-- MAIN -->
      <main class="site-main-content wrapper wrapper--content" role="main">

        <!-- BREADCRUMB -->
        {% if CONFIG.breadcrumbs and not CONFIG.breadcrumbsInContent and not fn('is_front_page') %}
          <section class="wrapper wrapper--breadcrumb">
            <div class="container">
              {# native walker: % include "breadcrumb.twig" %#}
              {{ breadcrumb }}
            </div>
          </section>
        {% endif %}

        <!-- ARTICLE CONTENT -->
        {% block content %}
          <div class="container">
            Sorry, no content!
          </div>
        {% endblock %}

      </main>

    </section><!-- end .site-content -->

    <!-- FOOTER -->
    <footer class="site-footer">
      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}
    </footer>

  </div><!-- end .site-wrapper -->

  <!-- OVERLAY -->
  <div class="overlay" id="overlay-panels"></div>

  <!-- SCROLL TO TOP BUTTON -->
  <div id="site-scroll-top" class="scroll-btn scroll-btn-up" data-scroll="body">
    <svg class="scroll-down" viewBox="0 0 71 71">
      <use xlink:href="#scroll-down"></use>
    </svg>
  </div>

  {% if do_inlinesvg %}
    <!-- INLINE SVG -->
    <div class="inline-svg">
      {% include 'sprite.symbol.svg.twig' %}
    </div>
  {% endif %}

  {% if do_debug_zone %}
    <!-- DEBUG ZONE -->
    <div class="debug-zone">
      <div class="debug-zone__item debug-zone__item--bp"></div>
    </div>
  {% endif %}

  <!-- WP_FOOTER -->
  {{ function('wp_footer') }}

</body>
</html>
