<!doctype html>

<!-- HEAD -->
{% block head %}
  {% include 'header/head.twig' %}
{% endblock %}

<!-- BODY -->
<body class="
  {{ body_class }}
  {{ body_class_config }}
  {{ landing_page ? 'is-landing-page' }}
  {{ landing_page_only_content ? 'is-landing-page-only-content' }}
  {{ post.slug ? "slug-#{post.slug}" }}
  " data-config="{{ config_JSON }}"
>

  <!-- SITE-WRAPPER -->
  <div class="site-wrapper">

    <!-- HEADER -->
    {% if not landing_page %}
      <header class="site-header">
        {% block header %}
          {% include 'header/header.twig' %}
        {% endblock %}
      </header>
    {% endif %}

    <!-- SITE-CONTENT -->
    <section class="site-content">

      {# Ugly dump, use with extreme shame #}
      {# {% for item in cart.cart_contents %} #}
        {# {{ fn('ddump', CONFIG) }} #}
      {# {% endfor %} #}

      <!-- MAIN -->
      <main class="site-main-content wrapper wrapper--content" role="main">

        <!-- BREADCRUMB -->
        {% if CONFIG.breadcrumbs and not CONFIG.breadcrumbsInContent and not fn('is_front_page') %}
          <section class="wrapper wrapper--breadcrumb">
            <div class="container">
              {# native walker: % include "breadcrumb.twig" %#}
              {{ breadcrumb }}
            </div>
          </section>
        {% endif %}

        <!-- ARTICLE CONTENT -->
        {% block content %}
          <div class="container">
            Sorry, no content!
          </div>
        {% endblock %}

      </main>

      {# <!-- SIDEBAR 1 -->
      {% if widgets_sidebar_1 %}
        <aside class="site-sidebar site-sidebar--left">
          <div class="container">
            <div class="row">
              {{ widgets_sidebar_1 }}
            </div>
          </div>
        </aside>
      {% endif %}

      <!-- SIDEBAR 2 -->
      {% if widgets_sidebar_2 %}
        <aside class="site-sidebar site-sidebar--right">
          <div class="container">
            <div class="row">
              {{ widgets_sidebar_2 }}
            </div>
          </div>
        </aside>
      {% endif %} #}

    </section><!-- end .site-content -->

    <!-- FOOTER -->
    {% if not landing_page %}
      <footer class="site-footer">
        {% block footer %}
          {% include 'footer.twig' %}
        {% endblock %}
      </footer>
    {% endif %}

  </div><!-- end .site-wrapper -->

  <!-- OVERLAY -->
  <div class="overlay" id="overlay-panels"></div>

  <!-- SCROLL TO TOP BUTTON -->
  {% if CONFIG.hasScrollTop %}
    <div class="scroll-btn btn scroll-btn--up" data-scroll="body">
      <div class="sr-only">Scroll to top</div>
      {# <svg viewBox="0 0 71 71">
        <use xlink:href="#scroll-down"></use>
      </svg> #}
    </div>
  {% endif %}

  <!-- PAGE TRANSITION -->
  {% if CONFIG.pageTransitions %}
    <div class='page-transition-in active'></div>
    <div class='page-transition-out'></div>
  {% endif %}

  {% if do_inlinesvg %}
    <!-- INLINE SVG -->
    <div class="inline-svg">
      {% include 'sprite.symbol.svg.twig' %}

      {% if CONFIG.socialLinks or CONFIG.socialButtons %}
        {% include 'social-networks-svg.twig' %}
      {% endif %}
    </div>
  {% endif %}

  {% if do_debug_zone %}
    <!-- DEBUG ZONE -->
    <div class="debug-zone">
      <div class="debug-zone__toggle">
        <button class="btn btn-ctrl" data-toggle="body" data-toggle-classname="debug-zone-active">
          <span class="sr-only">Toggle debug zone</span>
        </button>
      </div>
      <div class="debug-zone__item debug-zone__item--bp"></div>
    </div>
  {% endif %}

  <!-- WP_FOOTER -->
  {{ function('wp_footer') }}

  <!-- Font Awesome 5 -->
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>

</body>
</html>
